body{
    height: 100vh;
}
.container{
    height: 54vmin;
    width: 50vh;
    padding: 1rem;
    border: 1px solid black;
}

.input-cnt{
    
    border: 1px solid black ;
    padding: 1rem;
}

.flex{
    flex-direction: column;
    gap: 2rem;
    display: flex;
}


.grid{
    display: grid;
}

.item-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}

.repeat-4{
    grid-template-columns: repeat(4,1fr);
    gap:1.5rem
}
.input-box{
    grid-column: span 4;
    padding: 10px;
    font-size: 1.5rem;
    text-align: right;
    outline: none; appearance: none;
    border: 1px solid rgb(0, 0, 0);
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}


.btn{
    border: 1px solid rgb(230, 219, 219);
    outline: none; appearance: none;
    padding:.7rem;
    border-radius: 10%;
    font-size: 20px;
    transition: .10s;
    cursor: pointer;
    background: transparent;

}
.btn:hover{
    background-color:rgb(121, 143, 243) ;
    color: white;
    border: wheat;
}
.btn-symbol{
    font-size: 1.5rem;
}